apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: blogsphere-dev
  labels:
    app: user-service
    app.kubernetes.io/name: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: http
      port: 5000
      targetPort: 5000

